div { 
    background-color: red;
    width: 500;
    height: 400;
 }

 p {
   color: blue;
 }

 .container {
    width: 200px;
    height: 100px;
    background-color: red;
  }

  .first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    border-style: solid;
    border-color: green;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    top: 10px;
    border-style: solid;
    border-color: red;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    top: 10px;
    border-style: solid;
    border-color: yellow;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  
